%table.estimate-new-box{:border => "2"}
  %tr
    %th{:width => "270"} 品名
    %th{:width => "600"}
      =estimate.name
  %tr
    %th 図番  
    %th
      =estimate.figure_number
  %tr
    %th 入手日
    %th
      =estimate.get.strftime("%Y-%m-%d")
  %tr
    %th 期限
    %th
      =estimate.deadline.strftime("%Y-%m-%d")
  %tr
    %th 見積状況
    %th
      =estimate.status.name
  %tr
    %th 受注確率
    %th
      =estimate.probability.name