.main_estimate__container-1
  =f.label :品名 ,class:"main_estimate__container-1__get-label"
  =f.label :必須  ,class:"main_estimate__container-1__get-need-label"
  =f.text_field :name ,class:"main_estimate__container-1__get-container"
  =f.label :図番 ,class:"main_estimate__container-1__get-label"
  =f.label :必須  ,class:"main_estimate__container-1__get-need-label"
  =f.text_field :figure_number ,class:"main_estimate__container-1__get-container"
  =f.label :入手日 ,class:"main_estimate__container-1__get-label"
  =f.label :必須  ,class:"main_estimate__container-1__get-need-label"
  =f.date_field :get ,class:"main_estimate__container-1__get-container"
  =f.label :締切 ,class:"main_estimate__container-1__get-label"
  =f.label :必須  ,class:"main_estimate__container-1__get-need-label"
  =f.date_field :deadline ,class:"main_estimate__container-1__get-container"
  =f.label :客先 ,class:"main_estimate__container-1__get-label"
  =f.label :必須  ,class:"main_estimate__container-1__get-need-label"
  =f.text_field :customer ,class:"main_estimate__container-1__get-container"
.main_estimate__container-2
  =f.label :工法 ,class:"main_estimate__container-1__get-label"
  =f.label :必須 ,class:"main_estimate__container-1__get-need-label"
  =f.text_field :make ,class:"main_estimate__container-1__get-container"
  =f.label :材質 ,class:"main_estimate__container-1__get-label"
  =f.label :必須 ,class:"main_estimate__container-1__get-need-label"
  =f.text_field :metal ,class:"main_estimate__container-1__get-container"
  =f.label :SOP ,class:"main_estimate__container-1__get-label"
  =f.label :任意 ,class:"main_estimate__container-1__get-free-label"
  =f.date_field :start ,class:"main_estimate__container-1__get-container"
  =f.label :使用用途 ,class:"main_estimate__container-1__get-label"
  =f.label :任意 ,class:"main_estimate__container-1__get-free-label"
  =f.text_field :use ,class:"main_estimate__container-1__get-container"
  =f.label :数量 ,class:"main_estimate__container-1__get-label"
  =f.label :必須 ,class:"main_estimate__container-1__get-need-label"
  =f.number_field :quantity ,id:"quantity",class:"main_estimate__container-1__get-container"
.main_estimate__container-3
  =f.label :売り単価 ,class:"main_estimate__container-1__get-label"
  =f.label :必須 ,class:"main_estimate__container-1__get-need-label"
  =f.text_field :sell_price ,id:"sell_price",class:"main_estimate__container-1__get-container"
  =f.label :仕入れ単価 ,class:"main_estimate__container-1__get-label"
  =f.label :必須 ,class:"main_estimate__container-1__get-need-label"
  =f.text_field :purchase_price ,id:"purchase_price",class:"main_estimate__container-1__get-container"
  =f.label :利益 ,class:"main_estimate__container-1__get-label"
  =f.label :必須 ,class:"main_estimate__container-1__get-need-label"
  =f.text_field :profit, id:"profit" ,class:"main_estimate__container-1__get-container"
  =f.label :売上合計 ,class:"main_estimate__container-1__get-label"
  =f.label :必須 ,class:"main_estimate__container-1__get-need-label"
  =f.text_field :sell_price_total, id:"sell_price_total" ,class:"main_estimate__container-1__get-container"
  =f.label :利益合計 ,class:"main_estimate__container-1__get-label"
  =f.label :必須 ,class:"main_estimate__container-1__get-need-label"
  =f.text_field :profit_total, id:"profit_total" ,class:"main_estimate__container-1__get-container"
.main_estimate__container-4
  =f.label :受注確率 ,class:"main_estimate__container-1__get-label"
  =f.label :必須 ,class:"main_estimate__container-1__get-need-label"
  =f.collection_select :probability_id, Probability.all, :id, :name, {prompt: "選択してください"},class:"main_estimate__container-1__get-container"
  =f.label :見積状況 ,class:"main_estimate__container-1__get-label"
  =f.label :必須 ,class:"main_estimate__container-1__get-need-label"
  =f.collection_select :status_id, Status.all, :id, :name, {prompt: "選択してください"},class:"main_estimate__container-1__get-container"
  =f.label :備考 ,class:"main_estimate__container-1__get-label"
  =f.label :任意 ,class:"main_estimate__container-1__get-free-label"
  =f.text_field :remark, id:"profit" ,class:"main_estimate__container-1__get-container"
  =f.submit "送信する",class: "main_estimate__container-1__sumbit",data: { confirm: "送信しますか？" }