.main_estimate
  - if user_signed_in?
    =form_for [@estimate] do |f|
      = render 'layouts/error_messages', model: f.object
      = render partial: "estimate_form", locals: { f: f}
  - else
    = form_for [@estimate] do |f|
      = render partial: "not-estimate_form", locals: { f: f}