.menubar
 .menubar__home
  =link_to "HOME", root_path
 .menubar__mypage
  - if user_signed_in?
   =link_to "マイページ", user_path(current_user)
  - else 
   =link_to "新規登録", new_user_registration_path
   =link_to "ログイン", new_user_session_path

 .menubar__estimate
  =link_to "見積り一覧", new_estimate_path
 .menubar__search
  =link_to "検索", search_estimates_path