.main_estimate{
  margin-top: 3px;
  height: 400px;
  &__container-1{
  width: 300px;
  height: 400px;
  display: inline-block;
  &__get-label {
    font-size: 20px;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color:#3CCACE;
  }
  &__get-need-label{
  font-size: 20px;
  border: 1px solid;
  border-radius: 5px;
  margin-left: 2px;
  background-color: rgba(241, 119, 155, 0.781);
  }
  &__get-free-label{
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 2px;
    background-color: rgb(230, 221, 221);
  }
  &__get-container{
  border: 1px solid;
  border-radius: 5px;
  height: 35px;
  margin-top: 5px;
  margin-left: 10px;
  width: 250px;
  display: flex;
  margin-bottom: 10px;
  }
  &__sumbit{
    border: 1px solid;
    border-radius: 5px;
    height: 35px;
    margin-top: 5px;
    margin-left: 10px;
    width: 68px;
    display: flex;
    margin-bottom: 10px;
    background-color: rgb(230, 221, 221);
    &:hover {
      background-color: rgba(102, 188, 228, 0.507);
      color: black;
    }
  }
 } 
  &__container-2{
  width: 300px;
  height: 400px;
  display: inline-block;
  }
  &__container-3{
  width: 300px;
  height: 400px;
  display: inline-block;
  }
  &__container-4{
  width: 300px;
  height: 400px;
  display: inline-block;
  }
  .field_with_errors {
    background-color: #fcc;
    padding: 2px;
  }
}
.prev-content {
  display: flex;
  .preview-box {
   height: 162px;
   width: 112px;
   margin: 0 15px 10px 0;
   .upper-box {
     img{
     width: 112px;
     height: 112px;
     }
    }
   .lower-box {
     display: flex;
     text-align: center;
     .delete-box {
      color: #00b0ff;
      width: 100%;
      height: 50px;
      line-height: 50px;
      border: 1px solid #eee;
      background: #f5f5f5;
      cursor: pointer;
      }
    }
   }
  }

  .label-content{
    margin-bottom: 10px;
    width: 620px;

    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
  .hidden-content {
    display: none;
   .hidden-field {
   }
  }